[submodule "bundle/supertab-continued"]
	path = bundle/supertab-continued
	url = git@github.com:vim-scripts/SuperTab-continued..git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git@github.com:vim-scripts/bufexplorer.zip.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "bundle/wombat256mod"]
	path = bundle/wombat256mod
	url = git@github.com:vim-scripts/wombat256.vim.git
[submodule "bundle/vim-fakeclip"]
	path = bundle/vim-fakeclip
	url = git@github.com:kana/vim-fakeclip.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "bundle/vim-symfony"]
	path = bundle/vim-symfony
	url = git@github.com:qbbr/vim-symfony.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = git@github.com:qbbr/vim-twig.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git@github.com:ap/vim-css-color.git
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = git@github.com:hail2u/vim-css3-syntax.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git@github.com:vim-scripts/closetag.vim.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
